/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

html, body
  background-color rgb(25, 30, 45)

.navbar 
  background-color rgb(25, 30, 45)

.navbar .links
  background-color transparent !important

.navbar .links .search-box input
  background-color rgb(30, 40, 70)

.navbar .links .search-box .suggestions,
.navbar .links .search-box .suggestions li
  background-color rgb(30, 40, 70)

.sidebar
  background-color rgb(25, 30, 45)

.home .hero img
  max-width 450px !important
  padding 2rem 0

.custom-block
  background-color #43394e !important
  padding 1.25em 1.6em !important

.extra-class
  background-color rgb(18, 20, 30) !important
