// Colors
$accentColor = rgb(225, 60, 90)
$textColor = rgb(240, 240, 240)
$borderColor = rgb(25, 30, 45)
$codeBgColor = #0f1e41
$arrowBgColor = #ccc
$badgeTipColor = #42b983
$badgeWarningColor = darken(#ffe564, 35%)
$badgeErrorColor = #DA5961

// Layout
$navbarHeight = 3.6rem
$sidebarWidth = 20rem
$contentWidth = 740px
$homePageWidth = 960px

// Breakpoints
$MQNarrow = 959px
$MQMobile = 719px
$MQMobileNarrow = 419px